header {
    text-align:center;
    background:mediumpurple;
    border:solid 2px black;
    border-radius: 5px;
}

aside {
    position: fixed;
    min-height: 400px;
    min-width: 100px;
    float: left;
    border:solid 2px black;
}
nav {
    margin: 5px;
    padding: 5px;
    background: turquoise;
    border: solid 2px black;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0px 5px 0px 5px;
}
nav ul {

    padding: 2px;
}
li {
    list-style-type: none;
    text-align: center;
    padding: 10px 2px 10px 2px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
section {
    float:right;
    margin:10px auto;
    width:1150px;
    background:white;
    border: solid 2px black;
}
article {
    margin:5px;
    padding-left:5px;
    text-align:center;
    background:white;
    border: solid 2px black;
}
article h2 {
    width:250px;
    margin:10px auto;
    text-align:center;
    background:#FFFFFF;
}
footer {
    clear:both;
    height:40px;
    padding:10px;
    background:black;
    border: solid 2px red;
    border-radius: 5px;
}
address {
    color: white;
    text-align: center;
    padding: 2px;
}
time {
    color: white;
    float: left;
}